

html
  head
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300|Noto+Sans|Roboto:400', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="port-s/main.css")  
    
    script(type="text/javascript", src="port-js/jquery-1.11.0.min.js")

   

  body
    div.onsticky  
    section.me
      .main
        img.img-me(src="port-i/nick-img1.jpg", alt="")
        h1 Alexandr Demushkin
        p.coder HTML Coder
        p.about I will fulfill all your dreams. I will fulfill all your dreams. I will fulfill all your dreams. I will fulfill all your dreams. I will fulfill all your dreams. 
        a.contact-me(href="#") contact me    
          
    section.info
      .main
        ul.ul-info
          li.call 
            p Call me 
            a(href="#") +38(066) 287 75 71
          li.skype 
            p Skype me 
            a(href="skype:aortan3?chat") aortan3
          li.mail 
            p Email me 
            a(href="mailto:darto@gmail.com?subject=About job") darto@gmail.com
          li.git 
            p Watch me 
            a(href="https://github.com/Aortan1", target="_blank") aortan1.github.io
     section.knowlidge
      .main
        h2 My knowlidge
        .skills
          .skill.s_html
            h3 html
            div.circle.light
            div.circle.black
            div.circle.bg        
            div.wrapper(data-anim="base wrapper")       
              div.circle(data-anim="base left")
              div.circle(data-anim="base right")
          .skill.s_css
            h3 css
            div.circle.light
            div.circle.black
            div.circle.bg        
            div.wrapper(data-anim="base wrapper")
              div.circle(data-anim="base left")
              div.circle(data-anim="base right")
          .skill.s_js
            h3 js
            div.circle.light
            div.circle.black
            div.circle.bg          
            div.wrapper(data-anim="base")
              div.circle(data-anim="base left")
              
          .skill.s_jquery
            h3 jquery
            div.circle.light
            div.circle.black
            div.circle.bg          
            div.wrapper(data-anim="base wrapper")
              div.circle(data-anim="base left")
              div.circle(data-anim="base right") 
          .skill.s_jade
            h3 jade
            div.circle.light
            div.circle.black
            div.circle.bg          
            div.wrapper(data-anim="base wrapper")
              div.circle(data-anim="base left")
              div.circle(data-anim="base right")
          .skill.s_sass
            h3 sass
            div.circle.light
            div.circle.black
            div.circle.bg          
            div.wrapper(data-anim="base")
              div.circle(data-anim="base left")
              
          .skill.s_php
            h3 php
            div.circle.light
            div.circle.black
            div.circle.bg          
            div.wrapper(data-anim="base")
              div.circle(data-anim="base left")
                  
              
     section.my-pro
      .main
        h2 My projects
        a.to-top(href="")
          .line.n1
          .line.n2
        .pro
          a(href="http://aortan1.github.io/decoblog/",target="_blank")
            .mask
              p.view view site html
              p.name Decoblog
            img(src="port-i/pro-decoblog-2.jpg")
        .pro
          a(href="http://aortan1.github.io/skybox/",target="_blank")
            .mask
              p.view view site html
              p.name Skybox
            img(src="port-i/pro-skybox.jpg")
        .pro
          a(href="http://aortan1.github.io/viewport/",target="_blank")
            .mask
              p.view view site html
              p.name Viewport
            img(src="port-i/pro-viewport.jpg")
        .pro
          a(href="http://aortan1.github.io/notify/",target="_blank")
            .mask
              p.view view site html 
              p.name Notify
            img(src="port-i/pro-notify.jpg")
        .pro
          a(href="http://aortan1.github.io/mastermind",target="_blank")
            .mask
              p.view view site html
              p.name Game Mastermind
            img(src="port-i/pro-mastermind-58b.jpg")
        .pro
          a(href="http://aortan1.github.io/rubiks-cube/",target="_blank")
            .mask
              p.view view site html
              p.name Game Rubik’s Cube
            img(src="port-i/pro-rubiks-cube4.jpg")    
        
     section.footer
       .main
         form(action="")
           a.contact-me(type="submit") contact me
         p.thanks Thank you for your watching!
      
