
$font-color-gray: #4a4a4a;
$button-color-yellow: #fcc46c;
$button-color-lilac: #fa4c93;
$button-color-yellow-a: rgba(252, 196, 108, 0.5);
$button-color-lilac-a: rgba(250, 76, 147, 0.5);


$logo-del: var(--ani-init-delay);
$logo-dur: calc(2s * var(--ani-speed));
$logo-blink-del: 3s;
$logo-blink-dur: 10s;

$cont1-del: calc(0.5s * var(--ani-speed) + var(--ani-init-delay));
$cont2-del: calc(0.9s * var(--ani-speed) + var(--ani-init-delay));
$cont3-del: calc(1.3s * var(--ani-speed) + var(--ani-init-delay));
$cont4-del: calc(1.7s * var(--ani-speed) + var(--ani-init-delay));
$bg-del: var(--ani-init-delay);
$bg-dur: calc(2s * var(--ani-speed));

//$header-del: calc(2s * var(--ani-speed) + var(--ani-init-delay));
$header-del: 0.0s;
//$header-dur: calc(1.6s * var(--ani-speed));
$header-dur: 1s;
//$hlogo-del: calc(2s * var(--ani-speed) + var(--ani-init-delay));
$hlogo-del: 0.5s;
$hlogo-dur: calc(2s * var(--ani-speed));
$htitle-del: calc(1.5s * var(--ani-speed) + var(--ani-init-delay));
$htitle-dur: calc(2s * var(--ani-speed));

$neon1-dur: 30s;
$neon2-dur: 120s;
$neon1-del: 5s;
$neon2-del: 7s;

@import url('https://fonts.googleapis.com/css?family=Lato:300i&subset=latin-ext');

:root{
	--ani-speed: 0.7;//0.7; // обратный коеффициент скорости комплекса анимаций
	--ani-init-delay: 0.0s; // исходная задержка комплекса анимаций(для ожидания загрузки изображений фона)

}


// --Portfolio images--

// Polygraphy
#polygraphy_01{background: url("../mockups/polygraphy/01_booklet.png") no-repeat;}
#polygraphy_02{background: url("../mockups/polygraphy/02_business_cards.png") no-repeat;}
#polygraphy_03{background: url("../mockups/polygraphy/03_notebooks.jpg") no-repeat;}
#polygraphy_04{background: url("../mockups/polygraphy/04_catalog.png") no-repeat;}
#polygraphy_05{background: url("../mockups/polygraphy/05_leaflets.jpg") no-repeat;}
#polygraphy_06{background: url("../mockups/polygraphy/06_desktop_calendars.png") no-repeat;}
#polygraphy_07{background: url("../mockups/polygraphy/07_paper_bags.jpg") no-repeat;}
#polygraphy_08{background: url("../mockups/polygraphy/08_posters.jpg") no-repeat;}
#polygraphy_09{background: url("../mockups/polygraphy/09_wall_calendars.png") no-repeat;}
#polygraphy_10{background: url("../mockups/polygraphy/10_common.jpg") no-repeat;}
#polygraphy_11{background: url("../mockups/polygraphy/11_postcards.jpg") no-repeat;}
#polygraphy_12{background: url("../mockups/polygraphy/12_journals.png") no-repeat;}
#polygraphy_13{background: url("../mockups/polygraphy/13_common.jpg") no-repeat;}

// Souvenirs
#souvenirs_01{background: url("../mockups/souvenirs/01_t-shirts.jpg") no-repeat;} // Футболки.jpg
#souvenirs_02{background: url("../mockups/souvenirs/02_cups.jpg") no-repeat;} // чашки.jpg
#souvenirs_03{background: url("../mockups/souvenirs/03_pens.jpg") no-repeat;} // ручки.jpg
#souvenirs_04{background: url("../mockups/souvenirs/04_flash_drives.jpg") no-repeat;} // Флешки.jpg
#souvenirs_05{background: url("../mockups/souvenirs/05_caps.jpg") no-repeat;} // кепки.jpg
#souvenirs_06{background: url("../mockups/souvenirs/06_lighters.jpg") no-repeat;} // зажигалки.jpg
#souvenirs_07{background: url("../mockups/souvenirs/07_gift_sets.jpg") no-repeat;} // Подарочные наборы.jpg
#souvenirs_08{background: url("../mockups/souvenirs/08_trinkets.jpg") no-repeat;} // брелки.jpg
#souvenirs_09{background: url("../mockups/souvenirs/09_cups2.jpg") no-repeat;} // Чашки2.jpg

// Large-format printing
#large_01{background: url("../mockups/large-format-printing/01_printing_on_oracle.jpg") no-repeat;}
#large_02{background: url("../mockups/large-format-printing/02_press_wall.jpg") no-repeat;}
#large_03{background: url("../mockups/large-format-printing/03_x_banner.jpg") no-repeat;}
#large_04{background: url("../mockups/large-format-printing/04_photo_collage.jpg") no-repeat;}
#large_05{background: url("../mockups/large-format-printing/05_poster.png") no-repeat;}
#large_06{background: url("../mockups/large-format-printing/06_rollup.jpg") no-repeat;}
#large_07{background: url("../mockups/large-format-printing/07_canvas.jpg") no-repeat;}
#large_08{background: url("../mockups/large-format-printing/08_photographic_paper.png") no-repeat;}
#large_09{background: url("../mockups/large-format-printing/09_banner.jpg") no-repeat;}


* {
	padding: 0;
	margin: 0;
	outline: 0;
};

img{
	border: 0;
}

ul{
	list-style: none;
}


@font-face {
  font-family: 'Lato Medium';
  src: url('../fonts/Lato-Medium.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/Lato-Black.ttf');
}
@font-face {
	font-family: 'Lato Light';
	src: url('../fonts/Lato-Light.ttf');
}
@font-face {
	font-family: 'Lato Regular';
	src: url('../fonts/Lato-Regular.ttf');
}

@keyframes cont_item_ani{
	from {margin-top: -50px; opacity: 0;}
	to {margin-top: 0; opacity: 1;}
}

@keyframes opacity0to1_ani{
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes order__h_ani{
	from {top: -100px; filter: blur(50px); opacity: 0;}
	to {top: 0; filter: blur(0); opacity: 1;}
}
@keyframes order__blur_ani{
	from {filter: blur(50px); opacity: 0;}
	to {filter: blur(0); opacity: 1;}
}

@keyframes neon_ani{
	from {filter: hue-rotate(0deg);	}
	to {filter: hue-rotate(-360deg);}
}

@keyframes blink_ani{
	0% {filter: brightness(1);}
	9% {filter: brightness(1.5);}
	11% {filter: brightness(2.5);}
	13% {filter: brightness(1.5);}
	100% {filter: brightness(1);}
}

html{
	overflow-x: hidden;
}

body{
	font-family: 'Lato Medium', sans-serif;
	overflow-x: hidden;
    min-width: 700px;
	font-size: 20px;
	@media only screen and (max-device-width: 768px){
		font-size: 35px;
	}
	//background: url('../i/bg1t.png') center 40px;
	//background-size: contain;
	//background-repeat: no-repeat;
}

a {
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.3s;
	border-bottom: 2px solid transparent;
	&:hover {
		border-bottom-color: $font-color-gray;
		transition: 0.3s;
	}
}

h1 {
  color: $font-color-gray;
  font-family: 'Lato Black', sans-serif;
  font-size: 58px;
  letter-spacing: 13px;
  line-height: 84px;
  text-align: center;
  text-transform: uppercase;
	@media only screen and (max-device-width: 768px){
		font-size: 45px;
	}
}

h2, .service__h2 {
  color: $font-color-gray;
  font-family: 'Lato Regular', sans-serif;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 4.1px;
  text-transform: none;
	@media only screen and (max-device-width: 768px){
		font-size: 38px;
	}
  //line-height: 25px;
}

p{
	color: $font-color-gray;
	font-family: 'Lato Light', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}


.valid{
	border-color: green!important;
	&::placeholder{
		color: green;
	}
}

.invalid{
	border-color: red!important;
	&::placeholder{
		color: red;
	}
}


.button{
  border: 1px solid #000;
  //box-sizing: border-box;
  cursor: pointer;
  font-family: 'Lato Light', sans-serif;
  font-size: 1.2em;
  //width: 410px;
  letter-spacing: 2.3px;
  max-width: 410px;
  height: 3em;
  line-height: 3em;
  //padding: 15px 0 0;
  text-align: center;
  position: relative;
  transition: 0.5s;
  user-select: none;
  &b-header__button{opacity: 0;}
  &:after{
    content: "";
    display: inline-block;
    background-image: url('../i/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
	width: 7.317%; //30px;
    height: 11px;
    //padding: 0 0 0 15px;
    //margin-top: 10px;
    position: relative;
    left: 10px;
    transition: 0.5s;
	//box-shadow: 2px 2px 17px 5px rgba(0,0,0,0);
  }
  &:hover{
    box-shadow: 2px 2px 17px 5px rgba(0,0,0,0.2);

  }
  &:hover:after{
    left: 30px;
    transition: 0.5s;

  }

	@media only screen and (max-device-width: 768px){
		width: 100%;
		max-width: 660px;
		height: 2.5em;
		line-height: 2.5em;
		&:hover{
			box-shadow: 4px 4px 34px 10px rgba(0,0,0,0.3);
		}
		&:after{
			width: 60px;
			height: 22px;
			left: 20px;

		}
		&:hover:after{
			left: 50px;
		}
	}

}


.main {
	box-sizing: border-box;
    width: 100%;
	max-width: 1440px;
	height: 100%;
	padding: 0 20px;
	position: relative;
	margin: 0 auto;
	//outline: 1px solid rgba(255,255,0,0.5);
}

.bg{
  //min-width: 1325px;
  min-width: 1920px;
  //max-width: 1920px;
  position: absolute;
  //width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  @media only screen and (max-device-width: 768px){
	width: 100%;
	min-width: 1325px;
  }
}

.mist__bg{
  width: 100%;
  height: 90%;
  min-width: 0;
  //left: 0;
  &-left,
  &-right{
    width: 80px;
    height: 100%;
    transform: translateY(-108%);
    //border: 1px solid black;
  }
  &-left{
    float: left;
	position: relative;
	left: -2px;
	height: 90%;
    background: linear-gradient(to right, rgba(255,255,255,1),rgba(255,255,255,0));
	@media only screen and (max-device-width: 768px){width: 170px;}
  }
  &-right{
    float: right;
	position: relative;
	right: -2px; // - чтобы убрать 1пиксель справа без тумана при резайсе окна
    width: 100px;
	height: 80%;
    background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,1));
	@media only screen and (max-device-width: 768px){width: 170px;}
  }

  @media(max-width: 830px){
    //opacity: 0;
  }
}

.b-nav {
	box-shadow: 0 10px 10px rgba(0,0,0,0.02);
	padding: 5px 0 15px;
	//height: 40px;
	min-height: 40px;
	height: 4.21vh;
	//outline: 2px solid blue;
	letter-spacing: 5px;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	background: linear-gradient(to top, rgba(255,255,255,0.8), #fff);
	@media only screen and (max-device-width: 768px){
		padding-bottom: 30px;
		height: 40px;
	}
	.main {
		width: 1440px;
		letter-spacing: 2.3px;
		.cont_item--empty {display: block;}
		@media (max-width: 1460px) {
			//outline: 2px solid red;
			letter-spacing: 1px;
			width: 980px;
			.cont_item--empty {display: none;}
		}
		@media (max-width: 992px) {
			width: 100%;
			.cont_item--for-anchor{display: none;}
			.cont_item--phone{
				padding-top: 13px!important;
			}
			.b-nav__container{
				margin-left: 70px;
			}
		}
		@media (max-width: 768px) {
			width: 700px;
			//outline: 2px solid green;
			.b-nav__container{
				margin-left: 30px;
			}
		}

		@media only screen and (max-device-width: 768px){
			font-size: 26px;
			padding: 10px 0 5px;
			.cont_item--logo{
				transform: scale(1.3,1.3);
			}
			.cont_item--phone{
				padding-top: 10px!important;
			}
		}


	}
}
.b-nav__container {
	//outline: 1px solid blue;
	padding-top: 5px;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-around;
}


.cont_item {
	height: 100%;
	padding: 14px 15px 5px;
	font-size: 1em;
	//animation-name: cont_item_ani;
	//animation-duration: 1.3s;
	//animation-fill-mode: forwards;
	//opacity: 0;

	&--logo{
		margin-top: 0;
		//opacity: 0;
		//animation-name: opacity0to1_ani;
		//animation-delay: $logo-del;
		//animation-duration: $logo-dur;
		//animation-iteration-count: 1;

		//animation-name: opacity0to1_ani, blink_ani;
		//animation-delay: $logo-del, $logo-blink-del;
		//animation-duration: $logo-dur, $logo-blink-dur;
		//animation-iteration-count: 1, infinite;
	}

	//&:nth-child(2){
	//	animation-delay: $cont1-del;
	//}
	//&:nth-child(3){
	//	animation-delay: $cont2-del;
	//}
	//&:nth-child(4){
	//	animation-delay: $cont3-del;
	//}
	//&:nth-child(6){
	//	animation-delay: $cont4-del;
	//}


	&:hover {
		border-bottom-color: #000;
	}
	&.cont_item--logo:hover, &.cont_item--phone:hover {
		border-bottom-color: transparent;
	}
}


.cont_item--logo {
	min-width: 203px;
	height: 39px;
	background: url('../i/small logo.svg') no-repeat;

}

.cont_item--empty{
	width: 1px;
	margin-left: -120px;
	display: none;
}

.cont_item--phone {
	min-width: 200px;
}

.b-header__bg{
	position: absolute;
	top: -50%;
	width: 100%;
	padding-top: 49%;
	min-height: 570px; //1080px;
	height: auto;
	//background: url('../i/poster3.png') center 0px / cover no-repeat;

	opacity: 1;
	//animation-name: neon_ani;
	//animation-delay: $neon1-del;
	//animation-duration: $neon1-dur;
	//animation-iteration-count: infinite;
}

.b-header__video-container.bg{
	//border: 10px solid red;
	top: 0;
	height: auto;
	width: 100vw;
	padding-top: 49%;
	//overflow: hidden;
	@media only screen and (max-device-width: 768px) {
		//top: -400px;
		top: 50px;
		min-height: 570px;
		height: auto;
	}
}

.video-container__object{
	width: 100%;
	height: auto;
	top: 0;
}

//.object-1{top: 0.2%;}
//.object-2{top: 0.5%;}
//.object-3{top: 68.5%;}
//.object-4{top: 62.5%;}
//.object-5{top: 57%;}

.video-container__waves{
	top: 44.21vh;
	padding-top: 49%;
	height: 100vh;
	width: 100vw;
	//min-height: 570px;
	background: url('../i/1.svg') center 0px / contain no-repeat,  url('../i/2.svg') center 0px / contain no-repeat, url('../i/2-1.svg') center 63.156vh / cover no-repeat, url('../i/2-2.svg') center 53.16vh / cover no-repeat, url('../i/2-3.svg') center 60.53vh / cover no-repeat;
	@media only screen and (max-device-width: 768px) {
		top: 420px;
		height: 570px;
		width: 100%;
		background: url('../i/1.svg') center 0px / contain no-repeat,  url('../i/2.svg') center 0px / contain no-repeat, url('../i/2-1.svg') center 600px / cover no-repeat, url('../i/2-2.svg') center 505px / cover no-repeat, url('../i/2-3.svg') center 575px / cover no-repeat;
	}

}


.video-container__video{
	position: absolute;
	//top: -50%;
	top: 0%;
	left: 0;
	width: 100%;
	//animation-name: opacity0to1_ani;
	//animation-duration: 1s;
	@media only screen and (max-device-width: 768px) {
		top: 0%;
	}
}

.b-header{
	.main{
		border: 0px solid red;
		width: 570px;
		padding: 0;
	}
	height: 85.79vh; //85.79vh;//815px;
	outline: 0px solid red;
	position: relative;
	//top: 4.21vh;

	//opacity: 0;
	animation-name: opacity0to1_ani;
	animation-delay: $header-del;
	animation-duration: $header-dur;
	animation-fill-mode: forwards;

	@media only screen and (max-device-width: 768px){
		height: 665px;// 815px;
		.b-header__bg{
			//background: url('../i/bg1-mo720.png') center -80px / contain no-repeat;
		}
	}
	@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1366px){
		height: 55vh;
	}
}

.b-header__order{
	position: relative;
	transform: translateY(-50%);
	top: 55%;
	width: 590px;
	margin: 0 auto;
	outline: 1px solid transparent; // !! избавляет от глюка с нижним бордером кнопки

	animation-name: order__blur_ani;
	animation-delay: $hlogo-del;
	animation-duration: $hlogo-dur;
	animation-fill-mode: forwards;
	opacity: 0;
	@media only screen and (max-device-width: 768px){
		//top: 62%;
	}

	.order__logo {
		height: 110px;
		width: 100%;
		background: url('../i/Logo big.svg') no-repeat;
		animation-name: order__blur_ani;
		animation-delay: $hlogo-del;
		animation-duration: $hlogo-dur;
		animation-fill-mode: forwards;
		//opacity: 0;
	}

	//.order_h-container{
	//	position: relative;
	//	top: -50px;
	//	border: 1px solid red;
	//}

	.order__h{
		text-align: center;
		color: $font-color-gray;
		font-size: 2.25em;
		letter-spacing: 4px;
		margin-top: 15px;
		position: relative;

		animation-name: order__blur_ani;
		animation-delay: $hlogo-del;
		animation-duration: $hlogo-dur;
		animation-fill-mode: forwards;

		//top: -100px;
		//opacity: 0;
		//animation-name: order__h_ani;
		//animation-delay: $htitle-del;
		//animation-duration: $htitle-dur;
		//animation-fill-mode: forwards;
		@media only screen and (max-device-width: 768px){
			font-size: 40px;
		}
	}
	#b-header__button{
		margin: 40px auto 0;
		position: relative;
		outline: 1px solid transparent; // !! избавляет от глюка с нижним бордером кнопки
		opacity: 0;
		animation-name: opacity0to1_ani;
		animation-delay: 0s; //$hlogo-del;
		animation-duration: 2s;//$hlogo-dur;
		animation-fill-mode: forwards;
	}
}


.b-services{
	//height: 1210px;
	position: relative;
	.main{max-width: 1090px;}
}

.b-services__h1{
	display: inline-block;
	text-align: center;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	&:after{
		position: absolute;
		font-size: 2.0em;
		content: "и";
		text-transform: lowercase;
		opacity: 0.2;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 42%;
	}
}

.b-services__items{
	padding-top: 20px;
	padding-bottom: 70px;
	@media only screen and (max-device-width: 768px){
		padding-bottom: 40px;
	}

    @media (max-width: 768px){
      .service{
        padding: 0 20px!important;
		text-align: left!important;
        transition: 0.5s;
      }
      .service:before{
          opacity: 0;
          transition: 0.5s;
      }
    }
	.service {
		//outline: 1px solid blue;
		padding: 0px 205px;
		margin-top: 40px;
		position: relative;
		background-repeat: no-repeat;
        transition: 0.5s;
        &:before {transition: 0.5s;}
		&:nth-child(2n+1){
			text-align: left;
			background-position: 0 0;
			@media only screen and (max-device-width: 768px){
				padding: 0px 10px 0 215px;
			}
		}
		&:nth-child(2n){
			text-align: right;
			background-position: 100% 0;
			@media only screen and (max-device-width: 768px){
				padding: 0px 190px 0 10px;
			}
		}
		.service__h2{
			padding: 15px;

		}
		.service__p{
			padding: 15px;
			//border: 1px solid red;
		}
	}
	#service-polygraphy{
		&:before {
			content: "";
			position: absolute;
			left: -70px;
			width: 247px;
			height: 258px;
			background: url('../i/ser-1-ico.svg') no-repeat;
			@media only screen and (max-device-width: 768px){
				left: -45px;
			}
		}
	}
	#service-souvenirs{
		&:before {
			content: "";
			position: absolute;
			right: -50px;
			top: 15px;
			width: 247px;
			height: 249px;
			background: url('../i/ser-2-ico.svg') no-repeat;
			@media only screen and (max-device-width: 768px){
				right: -30px;
			}
		}

	}
	#service-large-format-printing{
		&:before {
			content: "";
			position: absolute;
			left: -70px;
			top: 30px;
			width: 247px;
			height: 249px;
			background: url('../i/ser-3-ico.svg') no-repeat;
			@media only screen and (max-device-width: 768px){
				left: -35px;
			}
		}
	}

	.b-services__buttons{
		margin: 0 auto;
		text-align: center;
		//transform: translateX(50%);
		//left: -50%;
	}
	.button-portfolio, .button-to-order{
		display: inline-block;
		margin: 50px 10px 10px;
		width: 35%;
		@media only screen and (max-device-width: 768px){
			width: 70%;
			display: block;
			margin: 50px auto 0;
		}
	}
}


.b-about-company{
	height: 146.31vh;
	min-height: 1390px;
    position: relative;

	//outline: 2px solid green;
	.main{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;//space-around;
        width: 100%;
		max-width: 1175px;
		padding: 20px 40px 100px;
		//outline: 2px solid red;
	}
	@media only screen and (max-device-width: 768px){
		//height: auto;
		height: 1750px;//1390px;
		.main{justify-content: flex-end;}
	}
	@media only screen
	and (min-device-width: 1024px)
	and (max-device-width: 1366px){
		height: 100vh;
	}
}
.b-about-company__bg{
    box-sizing: border-box;
	position: absolute;
	width: 100vw;
	padding-top: 72.29%;
	height: auto;
	min-height: 1380px;
	//height: 1380px;
	background: url('../i/waves_about_us.png') 0 0 / cover no-repeat; // 145px 0;
	//animation-name: neon_ani;
	//animation-delay: $neon2-del;
	//animation-duration: $neon2-dur;
	//animation-iteration-count: infinite;

	@media only screen and (max-device-width: 768px){
		background: url('../i/waves_about_us.png') 0 0 no-repeat / contain;
	}
}

.b-about-company__item{
	padding: 25px 0 50px;
	//outline: 2px solid blue;
	&:first-child{
		//padding-top: 220px;
	}
	&:nth-child(2n+1){
		text-align: left;
	}
	&:nth-child(2n){
		text-align: right;
	}
    &:last-child{
      //padding: 50px 0;
      //margin-bottom: 310px;
		//@media (max-width: 1460px) {margin-bottom: 70px;}

    }
	@media only screen and (max-device-width: 768px){
		text-align: center!important;
		padding: 125px 0 25px;;
		&:first-child{
			//margin-bottom: 30px;
		}
		&:last-child{
			//margin-bottom: 20px;
		}
	}

	.item-h1{
		display: inline-block;
		letter-spacing: 4.5px;
		margin-bottom: 15px;

	}

	.item-h1#why-power-print{
		//outline: 1px solid red;
		position: relative;
		font-size: 68px;
		letter-spacing: normal;
		text-align: left;
		margin-bottom: 20px;
		width: 376px;
		height: 151px;
		background: url('../i/Logo big.svg') no-repeat -74px 58px;
		background-size: contain;
		@media only screen and (max-device-width: 768px){
			transform: scale(0.8,0.8);
		}
		&:after{
			content: "?";
			font-family: 'Roboto Slab', serif;
			font-weight: 700;
			font-size: 140px;
			position: absolute;
			top: 21px;
			right: 3px;
		}
	}

	.item-p{
		color: #000;
		font-size: 1.2em;
		line-height: 1.6em;
		@media only screen and (max-device-width: 768px){
			font-size: 1em;
			line-height: 1.5em;
		}

	}
}


.b-portfolio{
	box-shadow: 0 60px 60px rgba(0,0,0,0.05);
	position: relative;
	.main{max-width: 1900px;}
	@media only screen and (max-device-width: 768px){
		padding-top: 60px;
		box-shadow: 0 -60px 60px rgba(0,0,0,0.05);
	}

}

.b-portfolio__h1{
	display: block;
	//line-height: 0px;
	margin-bottom: 0px;
	transform: translateX(-50%);
	left: 50%;
	position: relative;
}
.b-portfolio__nav{
	//outline: 1px solid red;
	margin: 50px auto;
	max-width: 1325px;
	width: 92%;
	text-align: center;
	display: flex;
	flex-flow: row nowrap;
    justify-content: space-around;
	align-items: stretch;
	@media only screen and (max-device-width: 768px){
		justify-content: center;
		width: 98%;
	}
}
.nav-button{
    display: flex; // !! Вертик. выравниваение текста флексом !!
    justify-content: center;
    flex-direction: column;
    ///text-align: center;
	background: rgba(255,255,255,0.5);
	border: 1px solid #000;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	font-size: 1.2em;
	width: 31%;
	height: 70px;
    padding: 10px;
	text-transform: uppercase;
	transition: 0.5s;
	@media (max-width: 1070px) {
		font-size: 1.0em;
		width: 29%;
		&#button-large{
			min-width: 240px;
		}
	}
	@media only screen and (max-device-width: 768px){
		padding: 60px 10px;
		font-size: 0.85em;
		//width: 28%;
		//width: 300px!important;
		width: calc((100% - 350px) / 2)!important;
		&:first-child{
			border-radius: 15px 0 0 15px;
		}
		&:last-child{
			border-radius: 0 15px 15px 0;
		}
		&:nth-child(2){
			border-width: 1px 0px;
		}
		&#button-large{
			//width: 41%;
			min-width: 350px;
		}
	}
	&--active{
		background: linear-gradient(left, $button-color-yellow, $button-color-lilac);
		border-color: #fff;
		color: #fff;
		transition: 0.5s;
	}
	&:hover{
		background: linear-gradient(left, $button-color-yellow-a, $button-color-lilac-a);
		border-color: #fff;
		color: #fff;
		transition: 0.5s;
	}
}
.b-portfolio__button-request-brief{
	margin: 45px auto 75px;
}

.b-portfolio__items{
	background-color: transparent;
    margin: 0 auto;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    width: 100%;
	position: absolute;
	opacity: 0;
    visibility: hidden;
	z-index: 0;
    //overflow-y: hidden;
	transform: scale(0,0);
	//transition: 0.5s;
	@media only screen and (max-device-width: 768px){
		border-left: 15px solid transparent;
	}
}

.b-portfolio__items--active{
	position: relative;
	opacity: 1;
    visibility: visible;
	z-index: 1;
    transition-property: opacity;
	transition-duration: 0.5s;
	transform: scale(1,1);
    //transition: 0.5s;
}

.items__item{
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	//cursor: pointer;
	width: 289px;
	height: 240px;
	//margin: 25px 12.5px 0 0;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	position: relative;
	transition: 0.5s;
    overflow: hidden;
	&:after{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: rgba(0,0,0,0.0);
		transition: 0.5s;
	}
    &:hover {
        position: absolute;
        z-index: 2;
        transform: scale(1.05,1.05);
		border-bottom-width: 0;

    }
    //&:active {
    //  position: absolute;
    //  z-index: 2;
    //  transform: scale(1.5,1.5);
    //  .h{opacity: 0;}
    //}

	&:hover .h {
		color: #fff;
		transition: 0.5s;
	}

	&:hover:after {
		background: rgba(0,0,0,0.5);
		transition: 0.5s;
	}
    //&:active:after {
    //  background: transparent;
    //  transition: 0.5s;
    //}

	.h{
		display: block;
		color: transparent;
		font-family: 'Lato Black', sans-serif;
		font-size: 1.2em;
		line-height: 2em;
		position: relative;
		transform: translateY(-50%);
		top: 50%;
		transition: 0.5s;
        user-select: none;
		z-index: 2;
		@media only screen and (max-device-width: 768px){
			line-height: 1.5em;
		}
	}
}

.items__item--wide{
	width: 603px;
}



.b-working{
	//height: 870px;
    overflow: hidden;
	.main{
      width: 100%;
      max-width: 850px;
		//border: 1px solid red;
	}
	position: relative;
}

.b-working__h1{
	margin: 75px auto 80px;
	@media(max-width: 830px){
		margin: 75px auto 20px;
	}
	@media only screen and (max-device-width: 768px){
		margin: 60px auto 20px;
	}
}

.plan__bg{
  //border: 2px solid yellow;
  width: 1440px;
  min-width: 1325px;
  height: 100%;
  top: 235px;
  //background: url("../i/path.svg") no-repeat 0 265px;
  background: url('../i/how1.svg') no-repeat 116px 30px, url('../i/how2.svg') no-repeat 1075px 241px, url('../i/how3.svg') no-repeat 116px 474px, url('../i/how4.svg') no-repeat 1080px 710px, url("../i/path.svg") no-repeat 0 170px / contain;
  z-index: 0;
  //@media(max-width: 830px){
  //  opacity: 0;
  //}
  @media only screen and (max-device-width: 768px){
	opacity: 0;
  }
  @media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1366px){
	  background: url('../i/how1.svg') no-repeat 196px 40px, url('../i/how2.svg') no-repeat 995px 251px, url('../i/how3.svg') no-repeat 196px 484px, url('../i/how4.svg') no-repeat 1000px 720px, url("../i/path.svg") no-repeat 0 180px / contain;
  }

}



.b-working__plan{
   	padding-top: 0px;
	padding-bottom: 70px;
	//height: 870px;
	//width: 1440px;
	//background: url('../i/how1.svg') no-repeat 106px 30px, url('../i/how2.svg') no-repeat 1075px 234px, url('../i/how3.svg') no-repeat 126px 468px, url('../i/how4.svg') no-repeat 1080px 700px, url("../i/path.svg") no-repeat 0 170px / contain;

	.plan-item {
        //outline: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
		height: 177px;
		padding: 0 60px 0 30px;
		.item-h2{
			padding: 30px 15px 10px;
		}
		.item-p{
			padding: 15px;
			//outline: 1px solid green;
		}

		&:nth-child(2n+1){text-align: left;}
		&:nth-child(2n){text-align: right;}

		@media only screen
		and (min-device-width: 1024px)
		and (max-device-width: 1366px){
			&:nth-child(2n+1){padding: 0 0px 0 110px;}
			&:nth-child(2n){padding: 0 140px 0 0px;}
		}

		&:nth-child(2){ height: 233px;}
		&:nth-child(3){ height: 225px;}
		&:nth-child(4){
			height: 225px;
			@media only screen
			and (min-device-width: 768px)
			and (max-device-width: 1366px){
				height: 245px;
			}

		}
        &:not(:last-child) {
			//@media(max-width: 830px) {
			//	border-bottom: 9px solid #fe9b7c;
			//}
			@media only screen and (max-device-width: 768px){
				border-bottom: 9px solid #fe9b7c;
			}
		}
		@media(max-width: 830px){
			text-align: left!important;
			height: auto!important;
		}

		@media only screen and (max-device-width: 768px){
			height: auto!important;
			text-align: left!important;
			.item-h2, .item-p{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}


.b-sign-up {
	position: relative;
	box-shadow: 0 -60px 60px rgba(0,0,0,0.05);

	.main{
		width: 57%;
        max-width: 1065px;//1045px;
		//outline: 1px solid green;

		@media (max-width: 1460px) {
			width: 80%;
		}
		@media (max-width: 992px) {
			width: 100%;
		}
		//@media (max-width: 768px) {
		//}
		@media only screen and (max-device-width: 768px){
			padding-bottom: 50px;
		}
	}
}

.b-sign-up__h {
	padding: 40px 0 0px;
	//outline: 1px solid red;
}

.b-sign-up__comment-p {
	//outline: 1px solid red;
	text-align: center;
	padding: 0px 115px 10px;

}

.b-sign-up__form {
	margin: 35px auto 0px;
	//width: 1325px;
	text-align: center;
	//outline: 1px solid red;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	@media only screen and (max-device-width: 768px){
		flex-flow: column wrap!important;
		align-items: center;

	}
}

.b-sign-up__input{
	border: 1px solid $font-color-gray;
	box-sizing: border-box;
	font-family: 'Lato Medium', sans-serif;
	width: 45%;//44%;
	height: 80px;
	font-size: 1em;
	padding-left: 45px;
	padding-right: 45px;
	margin: 0 10px 50px;
	&:focus{
		border-color: orange;
		&::placeholder{
			color: $font-color-gray;
		}
	}
	//&:focus:valid{
	//		border-color: green;
	//		&::placeholder{
	//			color: green;
	//		}
	//}
	//&:focus:invalid{
	//		border-color: red;
	//		&::placeholder{
	//			color: red;
	//		}
	//}

	&#comment-input{
		//box-sizing: border-box;
		width: 100%;
		height: 190px;
		padding: 30px 45px;
		resize: none;
		margin: 0 10px 50px; //0 10px 75px;
	}
	@media only screen and (max-device-width: 768px){
		box-sizing: content-box;
		width: 100%;
		height: 100px;
		max-width: 610px;
		border: 1px solid $font-color-gray;
	}
}

.b-sign-up__button-request-brief{
	//box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	@media only screen and (max-device-width: 768px){
		width: calc(100% + 80px)!important;
		margin: 0 auto 30px;
		padding: 0 20px;
	}
}



.b-footer {
	margin-top: 45px;//-40px;
	box-sizing: border-box;
	padding: 5px 0;
	height: 295px;
	letter-spacing: 5px;
	overflow: hidden;
	position: relative;
	//outline: 1px solid red;
	@media only screen and (max-device-width: 768px){
		display: none;
	}
	.main {
		//outline: 1px solid mediumviolet;
        width: 100%;
        max-width: 1440px;

      @media (max-width: 1460px) {
        width: 100%;
        letter-spacing: 0;
      }
      @media (max-width: 992px) {
        .nav__logo{
          position: relative;
          transform: scale(0.8,0.8);
          top: 10px;
        }
        .nav_item--empty {display: none;}
      }
      @media (max-width: 860px) {
        //.nav__logo{display: none;}
        //.b-footer__nav{top: 340px;}
        width: 90%;
        .nav__logo{transform: scale(0.5,0.5);  top: 34px; left: -90px;}
      }

      @media (max-width: 768px) {
        letter-spacing: 0;
        .nav__logo{display: none;}
        .b-footer__nav{top: 230px;}
      }


    }
}

.b-footer__bg{
	position: absolute;
	width: 100%;
	height: 100%;
	//background: linear-gradient(96deg, #555555, #282828);
	background: url('../i/footer-bg25.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.b-footer__nav {
	position: relative;
	top: 65px;
	//bottom: 0;
	//outline: 1px solid blue;
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	flex-flow: row nowrap;
	justify-content: space-between;

}
.nav_item {
	color: #fff;
	//border: 1px solid red;
	padding: 10px 20px;
	font-size: 20px;
	vertical-align: bottom;
	&:hover{border-bottom-color: rgba(255,255,255,0.5);}
	&--empty{
		width: 100px;
		display: block;
	}
}



.nav__logo {
	//outline: 1px solid white;
	height: 195px;
	padding: 0 0 10px;
	.logo__img {
		width: 380px;
		height: 105px;
		background: url('../i/logo-footer.svg') no-repeat ;
		//border: 1px solid white;
	}
	.logo__email,.logo__phone-p {
		color: #fff;
		height: 23px;
		letter-spacing: 5.3px;
		font-weight: 500;
		font-size: 0.95em;
		padding: 10px 0 0 10px;
	}
	.logo__email{
		&:hover{border-bottom-color: rgba(255,255,255,0.5);}
	}
	.logo__phone-p{
		margin-top: -5px;
	}
}


//@media only screen and (max-device-width: 768px){
//	section.b-header{
//		overflow: hidden;
//		border: 5px solid green;
//	}
//}











