@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  outline: 0;
}

img {
  border: 0;
}

ul {
  list-style: none;
}

body {
  color: #475055;
  background-color: green;
  background: radial-gradient(at bottom, white, #a65959);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

a:hover {
  transition: 0.3s;
}

a.button {
  background-color: #7954b6;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  height: 42px;
  padding: 18px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
}

a.button:hover {
  border: 1px solid #fff;
  background-color: #8966c2;
  margin-left: 0px;
}

a.button:active {
  background-color: #5e34a3;
  border: 1px solid transparent;
  color: #e7765f;
}

h1, h2, h3 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}

h1 {
  font-size: 50px;
}

.main {
  min-width: 960px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px;
  border: 0px;
}

/*Шапка сайта*/
header.header {
  width: 100%;
  height: 760px;
  position: relative;
  background: url("../i/bg_head_pl.png") #de4981;
  color: #fff;
}

nav.nav {
  padding-top: 40px;
}

nav.nav p.g {
  position: absolute;
  top: 30px;
  left: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
}

nav.nav div.links {
  float: right;
  margin-left: 170px;
}

nav.nav div.links:hover a:first-child {
  border: 2px solid transparent;
}

nav.nav a {
  color: white;
  border: 2px solid transparent;
  border-radius: 15px;
  display: inline;
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  padding: 4px 12px;
  text-transform: uppercase;
}

nav.nav a:first-child {
  border: 2px solid white;
}

nav.nav a:hover {
  border: 2px solid white;
}

nav.nav a:first-child:hover {
  border: 2px solid white;
}

div.download-in-header {
  border: 0px solid green;
  margin: 135px 370px 0 1000px;
  width: 525px;
}

div.download-in-header p.p-download {
  font-size: 17px;
  line-height: 30px;
  margin: 25px 0 75px 0;
}

section.amazing-fea {
  background: #fff;
  height: 1200px;
}

section.amazing-fea .main {
  max-width: 1350px;
}

section.amazing-fea .main h1.h1-main {
  color: #7954b6;
  margin: 0 auto;
  padding: 115px 0 35px 0;
  text-align: center;
  width: 33%;
  transition: 0.5s;
}

section.amazing-fea .main h1.h1-main:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

section.amazing-fea .main p.p-main {
  color: #565656;
  margin: 0 auto 150px;
  text-align: center;
  width: 33%;
}

section.amazing-fea .main img.ama-img {
  float: left;
}

section.amazing-fea .main ul.features {
  float: right;
}

section.amazing-fea .main ul.features li {
  margin: 0 0 50px 0;
}

section.amazing-fea .main ul.features li h2.feature {
  color: #7954b6;
  margin: 0 0 30px 0;
}

section.amazing-fea .main ul.features li:before {
  content: "";
  display: block;
  border: 0px solid red;
  float: left;
  width: 110px;
  height: 90px;
  margin: 10px 0 0 0;
  background: url("../i/ico01.png") no-repeat;
  transition: 0.5s;
}

section.amazing-fea .main ul.features li:not(:last-child):hover:before {
  margin: 10px -20px 0 0;
  transform: scale(0.9);
  transition: 0.5s;
}

section.amazing-fea .main ul.features li:nth-child(2):before {
  background: url("../i/ico02.png") no-repeat;
}

section.amazing-fea .main ul.features li:nth-child(3):before {
  background: url("../i/ico03.png") no-repeat;
}

section.amazing-fea .main ul.features li:nth-child(4):before {
  background: url("../i/ico04.png") no-repeat;
}

section.amazing-fea .main ul.features li:last-child:before {
  background: none;
}

section.amazing-fea .main ul.features li a {
  color: #f34791;
  text-decoration: underline;
}

section.amazing-fea .main ul.features li a:hover {
  color: red;
  text-decoration: none;
  margin-left: 20px;
}

section.about-appguyon {
  background: url("../i/bg_viol.png") no-repeat;
  height: 1600px;
}
