<!DOCTYPE html>
<html ng-app="testingApp">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,400,300,100|Noto+Sans|Roboto:100,300,400,500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" type="text/css">
    <meta charset="utf-8">
    <title>Testing</title>
    <script src="js/jquery.3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/model.json"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="s/main.css">
  </head>
  <body ng-controller="TestingCtrl">
    <div class="container">
      <div class="block bl-0 appear">
        <h1 class="h1-question">Выберите обучающий тест:</h1>
        <form action="" id="form_ntest">
          <div class="rad-item" ng-repeat="test in model"> 
            <input class="nt" type="radio" name="nt" ng-value="$index" id="nt{{$index}}" ng-model="$parent.nt">
            <label for="nt{{$index}}">{{test.testname}}</label>
            <input class="pro" type="checkbox" name="pro" id="pro{{$index}}" ng-model="$parent.pro">
            <label for="pro{{$index}}">(я - профи).</label>
          </div>
        </form>
        <div class="div-in">
          <button class="in sub" ng-click="chooseTest()">Выбрать</button>
        </div>
      </div>
      <div class="block bl-start">
        <h1 class="h1-question">{{message}}</h1>
        <h1 class="h1-question">Количество вопросов ?
          <form action="" id="form_nq">
            <div class="rad-item" ng-repeat="num in num_questions"> 
              <input class="nq" type="radio" name="nq" ng-value="num" id="nq{{num}}" ng-model="$parent.nq">
              <label for="nq{{num}}">{{num}};</label>
            </div>
          </form>
        </h1>
        <div class="div-in">
          <button class="in sub" ng-click="startTest()">Начать тест</button>
        </div>
      </div>
      <div class="block bl-1">
        <p class="comment">{{comment}}</p>
        <h1 class="h1-question">Вопроc {{i}}.</h1>
        <p class="question">{{message}}</p>
        <div class="div-in">
          <input id="text" name="word" type="text" autofocus ng-model="answer">
          <button class="in sub" ng-click="clickHandler()">Ввод</button>
          <button class="in skip" ng-click="clickHandler()">Пропустить</button>
        </div>
      </div>
      <div class="block bl-end">
        <p class="comment">{{comment}}</p><br>
        <h1 class="h1-question">{{n_right}}</h1>
        <h1 class="h1-question">{{grade}}</h1>
        <div class="div-in">
          <button class="in sub" onclick="window['location'].reload(true)">Ещё раз		</button>
        </div>
      </div>
    </div>
  </body>
</html>