doctype html
html(ng-app="testingApp")
	head
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:700,400,300,100|Noto+Sans|Roboto:100,300,400,500,700', rel='stylesheet', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Lobster",type='text/css')

		meta(charset="utf-8")
		meta(name="author", lang="ru", content="Александр Демушкин")
		meta(name="copyright", content="Aortan&Co")
		meta(name="keywords", content="html5, css3, теги, свойства, обучение, тест, начинающих, html, css, новичков, чайников, профессионалов, сайт, верстка, знание, единицы измерения, кодер, верстальщик, атрибуты, псевдокласс, псевдоэлемент")
		meta(name="description", content="Три теста на 20, 50 или 100 вопросов для обучения и проверки Ваших знаний html5 тегов и  css3 свойств укажут на Ваши пробелы в знаниях о верстке сайтов и заполнят их. Для новичков и профессионалов.")

		
		title Тесты по HTML5 и CSS3
		

		script(src='js/jquery.3.1.1.min.js')
		script(src='js/angular.1.6.2.js')
		script(src='js/model.json')
		script(src='js/main.js')

		link(rel='stylesheet', type='text/css', href='s/main.css')


	body.bg1(ng-controller="TestingCtrl")
		div.container
			.block.bl-0.appear
				p.h1-question Выберите обучающий тест:
				form(action="", id="form_ntest")
						div.rad-item(ng-repeat="test in model") 
							input.nt(type="radio", name="nt", ng-value="$index", id="nt{{$index}}", ng-model="$parent.nt")
							label(for="nt{{$index}}") {{test.testname}}
							input.pro(type="checkbox", name="pro", id="pro{{$index}}", ng-model="$parent.pro")
							label(for="pro{{$index}}") (я - профи).
				.div-in
					button.in.sub(ng-click="chooseTest()") Выбрать



			.block.bl-start
				p.h1-question {{message}}
				p.h1-question Количество вопросов ?
					form(action="", id="form_nq")
						div.rad-item(ng-repeat="num in num_questions") 
							input.nq(type="radio", name="nq", ng-value="num", id="nq{{num}}", ng-model="$parent.nq")
							label(for="nq{{num}}") {{num}};
				.div-in
					button.in.sub(ng-click="startTest()") Начать тест


			.block.bl-1
				p.comment(ng-bind='comment',da-bind='comment')
				//-br
				p.h1-question Вопроc {{i}}.
				p.question(ng-bind='message',da-bind='message')
				.div-in
					input#text(name="word",type="text", autofocus, ng-model="answer")
					button.in.sub(ng-click="clickHandler()") Ввод
					button.in.skip(ng-click="clickHandler()") Пропустить


			.block.bl-end
				p.comment {{comment}}
				br
				p.h1-question {{n_right}}
				p.h1-question {{grade}}
				.div-in
					button.in.sub(onclick="window['location'].reload(true)") Ещё раз

			.buttons-for-changing-bg
				button.for-changing-bg.but1 Фон 1
				button.for-changing-bg.but2 Фон 2
				button.for-changing-bg.but3 Фон 3