doctype html
html(ng-app="testingApp")
	head
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:700,400,300,100|Noto+Sans|Roboto:100,300,400,500,700', rel='stylesheet', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Lobster",type='text/css')

		meta(charset="utf-8")

		
		title Testing
		

		script(src='js/jquery.3.1.1.min.js')
		script(src='js/angular.min.js')
		script(src='js/model.json')
		script(src='js/main.js')

		link(rel='stylesheet', type='text/css', href='s/main.css')
		

	body(ng-controller="TestingCtrl")
		div.container
			.block.bl-0.appear
				h1.h1-question Выберите обучающий тест:
				form(action="", id="form_ntest")
						div.rad-item(ng-repeat="test in model") 
							input.nt(type="radio", name="nt", ng-value="$index", id="nt{{$index}}", ng-model="$parent.nt")
							label(for="nt{{$index}}") {{test.testname}}
							input.pro(type="checkbox", name="pro", id="pro{{$index}}", ng-model="$parent.pro")
							label(for="pro{{$index}}") (я - профи).
				.div-in
					button.in.sub(ng-click="chooseTest()") Выбрать


			.block.bl-start
				h1.h1-question {{message}}
				h1.h1-question Количество вопросов ?
					form(action="", id="form_nq")
						div.rad-item(ng-repeat="num in num_questions") 
							input.nq(type="radio", name="nq", ng-value="num", id="nq{{num}}", ng-model="$parent.nq")
							label(for="nq{{num}}") {{num}};
				.div-in
					button.in.sub(ng-click="startTest()") Начать тест


			.block.bl-1
				p.comment {{comment}}
				//-br
				h1.h1-question Вопроc {{i}}.
				p.question {{message}}
				.div-in
					input#text(name="word",type="text", autofocus, ng-model="answer")
					button.in.sub(ng-click="clickHandler()") Ввод
					button.in.skip(ng-click="clickHandler()") Пропустить


			.block.bl-end
				p.comment {{comment}}
				br
				h1.h1-question {{n_right}}
				h1.h1-question {{grade}}
				.div-in
						button.in.sub(onclick="window['location'].reload(true)") Ещё раз		