$color-font-m: #555
$color-backgr-lwindow: #ebeffd
$color-backgr-create-input: rgba(92, 184, 92, 1)
$color-backgr-delete-input: rgba(217, 83, 79, 1)
$color-backgr-selected: #c8ccfd
$color-backgr-active: #d9d9d9
$delete-input-border: 1px dashed grey
$selected-border: 1px dotted #99f
$selected-border-color: #99f

input, textarea   
  outline: none
  border-color: transparent
  border-radius: 5px

summary:active, summary:focus 
  outline: none  

.folders
  width: 100%
  position: relative

.folders__folder
  position: relative
  height: 100%
  left: 40px

  

  
  
summary.folder-name
  color: $color-font-m
  width: 170px
  height: 25px
  border: 1px dotted transparent
  border-radius: 0px 10px 0 0  
  background: url("../i/folder1.png") no-repeat
  background-size: contain
  padding: 5px 5px 0px 50px
  font-weight: 400
  user-select: none
  margin-top: 8px
  overflow: visible
  position: relative
  left: 40px


.create
  position: absolute
  top: 00px
  left: 270px
  transform: scale(0,0)
  transition: 0.5s 

.create form

.create__input
  color: #fff
  cursor: pointer
  width: 55px
  height: 20px
  border: 1px dashed grey
  border-radius: 5px
  //background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(92, 184, 92, 1))
  background-color: $color-backgr-create-input
  font-style: italic
  font-size: 14px
  opacity: 1
  margin-top: 2px
  padding: 4px 3px 2px 
  text-align: center

  &::-webkit-input-placeholder
      color: #fff

.delete
  color: #fff
  cursor: pointer
  display: inline-block
  font-style: italic
  position: absolute
  top: 2px
  left: 335px
  //opacity: 0
  transform: scale(0,0)
  transition: 0.5s
  padding: 5px 0px 5px 10px
  width: 55px
  height: 16px
  border-radius: 5px
  //background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(217, 83, 79, 1))
  background-color: $color-backgr-delete-input
  border: $delete-input-border
  


.folders__image .delete
  top: 7px
  left: 220px
  border: 1px dotted transparent


.selected>.create, .selected>.create~.delete, .folders__image.selected>.delete
  //opacity: 1!important
  transform: scale(1,1)
  transition: 0.5s 


.selected.folders__folder>.folder-name
  border: 1px solid $selected-border-color

.selected.folders__folder>.folder-name, .selected.folders__image
  //border: 1px dotted blue
  background-color: $color-backgr-selected
  color: $color-font-m
  font-weight: 600
  transition: 0.0s 
  //класс .selected добавляется при клике на папку/файл


.active.folders__folder>.folder-name
  //border: 1px dotted blue
  background-color: $color-backgr-active
  color: $color-font-m
  font-weight: 600
  transition: 0.0s   
  //класс .active добавляется родительской папке, содержащей выделенную

.selected.folders__image
  background-color: $color-backgr-selected
  border: $selected-border
  color: $color-font-m
  font-weight: 600
  .image-name
    color: $color-font-m











input.rename
  display: none
  border-width: 0
  opacity: 0
  color: $color-font-m
  font-weight: 600
  width: 90%
  height: 35px
  position: absolute
  top: 0
  right: 100px
  background: $color-backgr-selected
  font-weight: 400
  font-size: 14px
  margin-top: 0px
  


input.rename.rename_img
  padding: 9px 0px 0px 0px
  top: 0px
  left: 40px



input.rename.rename_dir
  //background: transparent
  padding: 2px 0px 0px 27px
  height: 24px
  width: 68%
  top: 0px
  left: 40px
  //border: 1px solid green
  

.rename.rename_dir:focus, .rename.rename_img:focus
  opacity: 1


.js-show_rename 
  display: block!important



.folders__image
  margin-top: 5px
  padding-left: 5px
  height: 100% 
  position: relative
  left: 75px
  //border: 1px solid red
 


.image-shape
  color: $color-font-m
  display: inline-block
  width: 35px
  height: 35px
  //border: 1px solid blue
  border-radius: 0px 10px 0 0
  background: url("../i/img.png") no-repeat
  background-repeat: no-repeat
  background-size: contain
  font-weight: 400
  user-select: none
  margin-top: 5px
  overflow: visible


.image-name
  display: inline-block
  color: $color-font-m
  padding: 18px 0 0px 0px
  vertical-align: top
  width: 350px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

