
<div class="button_up" (click)="onClickButtonUp(sel_folder.id);"></div>
<h1 class="subw_folder_name" id="subw_folder_name">{{sel_folder.name}}</h1>
<hr class="subw_hr"/>
<div class="subw_inner_place">
  <ng-container *ngFor="let file of lof">
    <div class="file file_dir for-select" *ngIf="(file.parent_id==sel_folder.id)&amp;&amp;(file.type_of_file=='dir')" (click)="onSelectInSub(file.id);" (dblclick)="onDoubleClickInSub(file.id);" [id]="'w'+file.id">
      <div class="file_rect"></div>
      <div class="file_name">{{file.name}}</div>
    </div>
  </ng-container>
  <ng-container *ngFor="let image of lof">
    <div class="file file_img for-select" *ngIf="(image.parent_id==sel_folder.id)&amp;&amp;(image.type_of_file=='img')" (click)="onSelectInSub(image.id);" (dblclick)="onDoubleClickInSub(image.id);" [id]="'w'+image.id" title="Name: {{ image.name }}
Dimensions: {{image.img_width}} x {{image.img_height}}">
      <div class="a-img"><img class="file_img_rect" src="{{ image.src_base64 ? image.src_base64: image.path}}" alt=""/></div>
      <div class="file_size">	 {{image.img_width}} x {{image.img_height}}</div>
      <div class="file_name">{{image.name}}</div>
    </div>
  </ng-container>
  <div id="viewImg" *ngIf="sel_folder.type_of_file=='img'"><img id="ima" [ngClass]="{'width100': sel_folder.big_or_small}" src="{{ sel_folder.src_base64 ? sel_folder.src_base64: sel_folder.path}}" alt=""/></div>
</div>