
<div class="app-login">
  <form class="log-form" (ngSubmit)="login(loginForm)" #loginForm="ngForm">
    <input class="log-inp input-login" type="text" placeholder="Name" name="username" id="username" required="" [(ngModel)]="user.name" #username="" pattern="[a-zA-Z._-]{3,}[0-9]*"/>
    <input class="log-inp input-password" type="password" placeholder="Password" name="userpass" id="userpass" required="" [(ngModel)]="user.pass"/>
    <p style="font-size: 12px; font-style: italic; color: #888; text-align: center; margin-bottom: -10px;">(admin: 0; Alex, 12345; Polina, 23456;)</p>
    <input class="log-inp input-submit" type="submit" value="Enter"/>
  </form>
</div>