
.app-login#app-login
	form.log-form((submit)='onSubmit()')
		input.log-inp.input-login(type="text", placeholder="Name", name="username", id="username", required='', [(ngModel)] = "user.name", #username='', pattern = '[a-zA-Z\._\-]{3,}[0-9]*')
		//- p Input clases:			|
		//- 	b {{username.className}} 
		input.log-inp.input-password(type="password", placeholder="Password", name="userpass", id="userpass", required='', [(ngModel)] = "user.pass")
		input.log-inp.input-submit(type="submit", value="Enter")
		//- ul
		//- 	li(*ngFor="let item of itemArray") {{item.name}}



//- <div>
//-      <input placeholder="Имя" required="" id="username" type="text">
//-     </div>
//-     <div>
//-      <input placeholder="Пароль" required="" id="password" type="password">
//-     </div>



//- .app-popup
//- 	.popup-window([ngStyle]="{'left':'calc(50% - '+ width/2 +'px)',  'top':'calc(50% - '+ height/2 +'px + 0px)'}")
//- 		.imgname {{sel_image.name}}	
//- 		.imgarea([ngStyle]="{'background-image': 'url('+ src +')', 'width':width+'px', 'height':height+'px'}")
//- 		.close-button((click)="closePopup();" )