* {
  padding: 0;
  margin: 0;
  outline: 0; }

img {
  border: 0; }

ul {
  list-style: none; }

body {
  width: 100%;
  position: relative;
  font-family: 'Lobster', Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  color: black;
  background-color: #94b63e;
  background: url("../i/76d.jpg") 0 15% no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 2px #fff; }

div.container {
  width: 100%;
  margin: 0 auto; }
  div.container .block {
    display: none;
    width: 850px;
    margin: 100px auto;
    padding: 30px 50px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8); }
    div.container .block h1.h1-question {
      font-size: 1em;
      padding: 20px 0px; }
    div.container .block p.comment {
      font-size: 0.8em;
      color: red;
      font-style: italic; }
    div.container .block p.question {
      font-size: 0.8em;
      color: black; }
  div.container .appear {
    display: block; }

.div-in {
  margin: 30px auto;
  opacity: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none; }

input#text {
  display: inline-block;
  font-size: 0.5em;
  width: 150px;
  height: 35px;
  margin: 0 20px 0 0px;
  padding: 0 0 0 10px;
  border-radius: 20px; }

form#form_nq {
  display: inline-block;
  margin-bottom: 20px; }
  form#form_nq div.rad-item {
    border: 1px solid transparent;
    display: inline-block;
    padding-right: 10px; }

form#form_ntest {
  display: block;
  margin-bottom: 20px; }
  form#form_ntest div.rad-item {
    border: 1px solid transparent;
    display: block;
    padding-right: 10px; }

input.nt:checked + label {
  color: green;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid green;
  border-radius: 10px;
  transition: 0.3s; }

input.pro, input.pro + label {
  font-size: 0.5em;
  opacity: 0;
  transition: 0.3s; }

input.nt:checked + label + input.pro, input.nt:checked + label + input.pro + label {
  opacity: 1;
  transition: 0.3s; }

input.nq + label {
  border: 1px solid transparent;
  padding: 0 5px;
  transition: 0.3s; }

input.nq:checked + label {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid maroon;
  border-radius: 10px;
  color: maroon;
  transition: 0.3s; }

button.in {
  display: inline-block;
  width: 150px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0 15px 0 5px;
  border: 1px solid #7fa607;
  border-radius: 20px;
  background-color: #8fc113;
  background: linear-gradient(to top, #649516 0%, #427a00 50%, #8fb92b 50%, yellow 100%);
  box-shadow: inset 0 0 1px 1px #bfdc73;
  transition: 0.05s; }
  button.in:last-child {
    margin-right: 0; }
  button.in:hover {
    background-position: 0 -3px;
    transition: 0.3s;
    color: yellow; }
  button.in:active {
    background-position: 0 -10px;
    box-shadow: inset 1px 1px 5px 1px #517900; }

button.in.skip {
  color: blue;
  font-style: italic;
  font-weight: 400; }

button.in.var {
  color: black;
  width: 53px;
  border-radius: 20px; }

@media (max-width: 1400px) {
  button.in, input#text {
    width: 18vw;
    min-width: 150px;
    font-size: 0.5em;
    color: red; } }
