* {
  padding: 0;
  margin: 0;
  outline: 0; }

img {
  border: 0; }

ul {
  list-style: none; }

body {
  width: 100%;
  position: relative;
  font-family: 'Lobster', Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 2em;
  color: black;
  background-color: #94b63e;
  background: url("../i/76d.jpg") 0 25.5% no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 2px #fff; }

input[type="radio"] {
  visibility: hidden; }

input[type="radio"] + label {
  position: relative; }

input[type="radio"]:checked + label {
  background-color: #deff96; }

input[type="radio"] + label:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #777;
  box-shadow: 0px 0px 1px 0px #888;
  position: absolute;
  left: -30px;
  top: 10px; }

input[type="radio"]:checked + label:before {
  content: "";
  background: radial-gradient(at center, #0a0, #fff); }

div.container {
  width: 100%;
  margin: 0 auto; }
  div.container .block {
    display: none;
    width: 850px;
    margin: 10vh auto;
    padding: 30px 50px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9); }
    div.container .block p.h1-question {
      font-size: 1.125em;
      font-weight: 700;
      padding: 20px 0px; }
    div.container .block p.comment {
      font-style: italic; }
    div.container .block p.question {
      color: black; }
  div.container .appear {
    display: block; }
  div.container .c-wrong {
    color: red;
    font-size: 32px; }
  div.container .c-right {
    color: green;
    font-size: 32px; }
  div.container .bl-pro {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 128, 0.9) 5%, rgba(255, 255, 255, 0.9) 15%, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 128, 0.9) 95%, rgba(255, 255, 255, 0.9) 100%); }

.div-in {
  margin: 30px auto;
  opacity: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none; }

input#text {
  display: inline-block;
  font-size: 24px;
  width: 150px;
  height: 35px;
  margin: 0 20px 0 0px;
  padding: 0 0 0 10px;
  border-radius: 20px; }

form#form_nq {
  display: inline-block;
  margin-bottom: 20px; }
  form#form_nq div.rad-item {
    border: 1px solid transparent;
    display: inline-block;
    padding-right: 10px; }

form#form_ntest {
  display: block;
  margin-bottom: 20px; }
  form#form_ntest div.rad-item {
    border: 1px solid transparent;
    display: block;
    padding-right: 10px; }

input.nt:checked + label {
  color: green;
  border: 0px solid green;
  border-radius: 10px;
  transition: 0.3s; }

input.pro {
  margin-left: 15px; }

input.pro, input.pro + label {
  font-size: 18px;
  color: #333;
  opacity: 0;
  transition: 0.3s; }

input.pro:checked + label {
  color: #000;
  box-shadow: 0 0 10px 10px #ffa;
  border-radius: 10px; }

input.nt:checked + label + input.pro, input.nt:checked + label + input.pro + label {
  opacity: 1;
  transition: 0.3s; }

input.nq + label {
  border: 0px solid transparent;
  padding: 0 5px;
  font-weight: 700;
  font-size: 36px;
  margin-right: 5px;
  transition: 0.3s; }

input.nq:checked + label {
  border: 0px solid green;
  border-radius: 10px;
  color: green;
  transition: 0.3s; }

button.in {
  display: inline-block;
  width: 150px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0 15px 0 5px;
  border: 1px solid #7fa607;
  border-radius: 20px;
  background-color: #8fc113;
  background: linear-gradient(to top, #649516 0%, #427a00 50%, #8fb92b 50%, yellow 100%);
  box-shadow: inset 0 0 1px 1px #bfdc73;
  transition: 0.05s; }
  button.in:last-child {
    margin-right: 0; }
  button.in:hover {
    background-position: 0 -3px;
    transition: 0.3s;
    color: yellow; }
  button.in:active {
    background-position: 0 -10px;
    box-shadow: inset 1px 1px 5px 1px #517900; }

button.in.skip {
  color: blue;
  font-style: italic;
  font-weight: 400; }

button.in.var {
  color: black;
  width: 53px;
  border-radius: 20px; }

@media (max-width: 1400px) {
  body {
    font-size: 2.5em; }
  button.in, input#text {
    width: 18vw;
    height: 60px;
    min-width: 180px;
    border-radius: 30px; }
  input#text {
    height: 52px;
    border-radius: 26px; } }
