html
	head
		

		script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
		script(type='text/javascript', src='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js')

		link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css')
		link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css')
		
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400", rel="stylesheet")
		


		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css")
		link(rel="stylesheet", href="/resources/demos/style.css")
		//- script(src="https://code.jquery.com/jquery-1.12.4.js")
		script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.js")

		
		title Guyon
		script(type='text/javascript', src='js/main.js')
		link(rel='stylesheet', type='text/css', href='s/main.css')
	body

		header.header
			.main
				nav.nav
					p.g guyon
					div.links
						a(href="" alt="") home
						a(href="" alt="")  features
						a(href="" alt="")  about
						a(href="" alt="")  video
						a(href="" alt="")  screenshot
						a(href="" alt="")  pricing
						a(href="" alt="")  clients
						a(href="" alt="")  blog
						a(href="" alt="")  contact

				div.download-in-header
					h1.h1-download create your app page with approbic
					p.p-download We ensure quality & support. People love us & we love them. Lorem ipsum dolor sit amet, consectetur bradipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					a.button(href='') download app


		section.amazing-fea

		section.about-app

		section.screenshots

		section.pricing-pack

		section.screenshots

		section.what-others

		section.download-app
		

		footer.footer


								