html
	head
		
		meta(http-equiv="Refresh", content="3, http://localhost:8007/")
		script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
		script(type='text/javascript', src='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js')

		link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css')
		link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css')
		
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400", rel="stylesheet")
		


		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css")
		link(rel="stylesheet", href="/resources/demos/style.css")
		//- script(src="https://code.jquery.com/jquery-1.12.4.js")
		script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.js")

		
		title Guyon
		script(type='text/javascript', src='js/main.js')
		link(rel='stylesheet', type='text/css', href='s/main.css')
	body

		header.header
			.main
				nav.nav
					p.g guyon
					div.links
						a(href="" alt="") home
						a(href="" alt="")  features
						a(href="" alt="")  about
						a(href="" alt="")  video
						a(href="" alt="")  screenshot
						a(href="" alt="")  pricing
						a(href="" alt="")  clients
						a(href="" alt="")  blog
						a(href="" alt="")  contact

				div.download-in-header
					h1.h1-download create your app page with approbic
					p.p-download We ensure quality & support. People love us & we love them. Lorem ipsum dolor sit amet, consectetur bradipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					a.button(href="#" alt="") download app


		section.amazing-fea
			.main
				h1.h1-main Amazing Features
				p.p-main Tempora similique excepturi obcaecati, maiores nostrum esse illo in soluta at saepe perspiciatis eos quasi laudantium sunt ad quaerat?
				img.ama-img(src="i/sshow1.png")
				ul.features
					li 
						h2.feature Clean Design
						p.about-feature Lorem ipsum dolor sit amet, consectetur adipisicingelitr eiciendis autem aperiam.
					li.feature
						h2.feature Dedicated Support
						p.about-feature Lorem ipsum dolor sit amet, consectetur adipisicingelitr eiciendis autem aperiam.
					li.feature 
						h2.feature Very Customizable
						p.about-feature Lorem ipsum dolor sit amet, consectetur adipisicingelitr eiciendis autem aperiam.
					li.feature 
						h2.feature Multiple Demos
						p.about-feature Lorem ipsum dolor sit amet, consectetur adipisicingelitr eiciendis autem aperiam.
					li.feature 
						p.about-feature Interested in more? 
							a(href="#" alt="") View All Features

		section.about-appguyon
			h1.h1-main About AppGuyon
			p.p-main Lorem ipsum dolor sit amet proin gravida nibh vel velit
			div.line
			ul.features
				li 
					h2.feature Clean Design
					p.about-feature Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
				li 
					h2.feature Clean Design
					p.about-feature Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
				li 
					h2.feature Clean Design
					p.about-feature Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
				li 
					h2.feature Clean Design
					p.about-feature Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
				li 
					h2.feature Clean Design
					p.about-feature Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
				li 
					h2.feature Clean Design
					p.about-feature Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
			video.presentation

		section.screenshots
			img(src="i/sshow2.png")
			h1.h1-main Screenshots
			p.p-main Tempora similique excepturi obcaecati, maiores nostrum esse illo in soluta at saepe perspiciatis eos quasi laudantium sunt ad quaerat?
			ul.features
				li 
					h2.feature Present your app with AppSperia screenshots
					p.about-feature Lorem ipsum dolor sit amet, consectetur adipisicingelitr eiciendis autem aperiam.
				li.feature
					h2.feature Present your app with AppSperia screenshots
					p.about-feature Lorem ipsum dolor sit amet, consectetur adipisicingelitr eiciendis autem aperiam.
				li.feature 
					h2.feature Present your app with AppSperia screenshots
					p.about-feature Lorem ipsum dolor sit amet, consectetur adipisicingelitr eiciendis autem aperiam.

		section.pricing-pack
			h1.h1-main Pricing Packages
			p.p-main Lorem ipsum dolor sit amet proin gravida nibh vel velit
			div.line
			div.pack
				h3.packname Standard Pack
				div.price
					sup $
					span.number 50
					span.measure /month
				ul.in-pack-included
					li 1 License
					li Content Editor
					li Fully Responsive
					li Custom Fontsets
					li Retina Ready
					li Fullscreen Cover
				a.button.sign-in-now(href="#", alt="") Sign in now
			div.pack
				h3.packname Best Pack
				div.price
					sup $
					span.number 100
					span.measure /month
				ul.in-pack-included
					li 1 License
					li Content Editor
					li Fully Responsive
					li Custom Fontsets
					li Retina Ready
					li Fullscreen Cover
				a.button.sign-in-now(href="#", alt="") Sign in now	
			div.pack
				h3.packname Premium Pack
				div.price
					sup $
					span.number 250
					span.measure /month
				ul.in-pack-included
					li 1 License
					li Content Editor
					li Fully Responsive
					li Custom Fontsets
					li Retina Ready
					li Fullscreen Cover
				a.button.sign-in-now(href="#", alt="") Sign in now										


		section.screenshots
			h1.h1-main What Others Are Saying
			p.p-main Lorem ipsum dolor sit amet proin gravida nibh vel velit
			div.line
			div.reviews-slides			

		section.what-others
			h1.h1-main What Others Are Saying
			p.p-main Lorem ipsum dolor sit amet proin gravida nibh vel velit
			div.line
			article.post
				img.img-post(src="", alt="")
				h3.name-of-post Consectetuer adipiscing elit
				h4.date-of-post	Posted On 25th September 2014		
				p.p-post Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
				a.button.read-more(href="#") Read more
			article.post
				img.img-post(src="", alt="")
				h3.name-of-post Consectetuer adipiscing elit
				h4.date-of-post	Posted On 25th September 2014		
				p.p-post Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
				a.button.read-more(href="#") Read more
			article.post
				img.img-post(src="", alt="")
				h3.name-of-post Consectetuer adipiscing elit
				h4.date-of-post	Posted On 25th September 2014		
				p.p-post Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
				a.button.read-more(href="#") Read more			
		section.download-app
			h1.h1-main What Others Are Saying
			p.p-main Lorem ipsum dolor sit amet proin gravida nibh vel velit
			div.line
			a.button.store(href="") app store
			a.button.store(href="") play store	

		footer.contact-us


								