.app-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.popup-window {
  position: relative;
  z-index: 2;
  padding: 5px 15px 15px 15px;
  border: 1px solid red;
  width: auto; }

.imgname {
  position: relative;
  top: -22px;
  left: -0px; }

.imgarea {
  display: inline;
  position: relative;
  margin: 20px auto;
  background-color: #e9e7e3;
  background-repeat: no-repeat;
  background-size: contain;
  border: 15px solid #f4f3f4;
  border-top-width: 25px;
  border-radius: 5px;
  position: fixed;
  opacity: 1.0;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  /*transform: translate(-50%);*/
  z-index: 2;
  -webkit-box-shadow: 10px 10px 6px -6px #777;
  box-shadow: 10px 10px 6px -6px #777; }
  .imgarea .close-button {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -22px;
    right: -14px;
    z-index: 30;
    background-image: url("../i/win-cross20.png");
    background-size: contain; }
